name: Deploy lambda function
on:
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: read

    steps:
      - name: checkout
        uses: actions/checkout@v3
        
      - name: configure aws credentials
        uses: aws-actions/configure-aws-credentials@master
        with:
          aws-region: ${{ secrets.AWS_REGION }}
          role-to-assume: ${{ secrets.AWS_ROLE_ARN }}
          role-session-name: "Deploy Lambda function by GitHub Actions"
      
      - name: get caller identity is allowed to run on role.
        run: aws sts get-caller-identity

      - name: deploy lambda
        run: |
          cd lambda && zip -r package.zip ./*
          aws lambda update-function-code --function-name ${{ env.AWS_LAMBDA_FUNCTION_NAME }} --zip-file fileb://package.zip --publish
        env:
          AWS_LAMBDA_FUNCTION_NAME: ${{ secrets.INSTANCE_NAME }}-function
