name: Test lambda function
on:
  workflow_dispatch:
  pull_request:
    branches:
      - main
    types: [opened, reopened]
    paths:
      - 'lambda/*'


jobs:
  test-lambda-function:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [18.x]

    services:
      dynamodb:
        image: amazon/dynamodb-local:latest
        ports:
          - 8000:8000

    env:
      dynamodb_endpoint: "http://dynamodb:8000"

    steps:
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}

      - name: Run lambda test
        run: node --test
