name: Test lambda function
on:
  workflow_dispatch:
  pull_request:
    branches:
      - main
    types: [opened, reopened]
    paths:
      - 'lambda/*'


jobs:
  test-lambda-function:
    runs-on: ubunt-latest

    services:
      dynamodb:
        image: amazon/dynamodb-local
        ports:
          - 8000:8000

    env:
      dynamodb_endpoint: "http://dynamodb:8000"

    steps:
      - name: Run lambda test
        run: node --test
